.d05, .d50 {
    fill: #33ff78;
}

.d19, .d63 {
    fill: #3591ff;
}

.d86, .d95, .d76, .d25, .d13, .d44 {
    fill: #f8ff3c;
}

.d81, .d97, .d23, .d52 {
    fill: #9f7fff;
}

.d68, .d47, .d27, .d94, .d85 {
    fill: #5cd65c;
}

.d17, .d11, .d88 {
    fill: #248f24;
}

.d18, .d73 {
    fill: #ff8880;
}

.d91, .d41 {
    fill: #75ff54;
}

.d99, .d66, .d70, .d08 {
    fill: #ff9c59;
}

.d20, .d15 {
    fill: #d281ff;
}

.d54, .d19 {
    fill: #86c7ff;
}